body {
	background-color: #edb;
}

.pill {
	border-radius: 0.8em 0.8em 0.8em 0.8em / 50% 50% 50% 50% ;
}

.bg-brand {
	background-color: rgb(163,73,164);
	background-image: radial-gradient(circle at 15% 25%, rgb(228,135,227) 0%, rgb(163,73,164) 80%);
}

.icon {
	height: 1.5rem;
	width: auto;
}

.container {
	background-color: #fff;
}

.title {
	font-weight: bold;
	margin-bottom: 0;
}

.title:not(:nth-child(1)) {
	margin-top: 2rem;
}

.description {
	margin-left: 1rem;
	margin-top: 0;
	margin-bottom: 0;
	border-left: 0.35rem solid #5cb85c;
	padding-left: 1rem;
	padding-top: 1rem;
	text-indent: 2rem;
}

.paragraph {
	text-indent: 2rem;
}

.badge-collection {
	margin-left: 1rem;
	padding-left: 1rem;
	border-left: 0.35rem solid #5cb85c;
}

.banner {
	height: 300px;
	line-height: 300px;
	background-size: cover;
	background-position: center top;
	background-attachment: fixed;
	overflow: hidden;
	text-align: center;
}

.banner h1 {
	color: white;
	text-shadow: 0 0 1rem #000;
	line-height: 1.5;
	vertical-align: middle;
	display: inline-block;
}

.circle {
	border-radius: 50%;
}

@media (min-width: 768px) {
	.order-md-last {
		-webkit-box-ordinal-group: 14;
		-ms-flex-order: 13;
		order: 13;
	}
}