body {
	background-color: #edb;
}

.container {
	background-color: #fff;
}

.citation {
	font-weight: bold;
	margin-top: 2rem;
	margin-bottom: 0;
}

.description {
	margin-left: 1rem;
	margin-top: 0;
	margin-bottom: 0;
	border-left: 0.35rem solid #5cb85c;
	padding-left: 1rem;
	padding-top: 1rem;
	text-align: justify;
	text-indent: 2rem;
}